<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:adjustViewBounds</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;fitXY&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/freepik__upload__13705&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;1.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.0&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;341dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;84dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/lustria&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;FitForge&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FBE8B6&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;60sp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;70dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;60dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;170dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;59dp&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#CCFFFFFF&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Login&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;336dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;170dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;59dp&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#CCFFFFFF&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Sign Up&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;435dp&quot; </span><span class="s0">/&gt;</span>



    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;56dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;62dp&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/_43_1432245_flexing_bicep_clipart_removebg_preview&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;60dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Login&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s2">=&quot;174dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;355dp&quot; </span><span class="s0">/&gt;</span>


<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>